<a
  [routerLink]="[board().id]"
  class="relative flex flex-col items-start w-56 p-6 rounded-lg shadow bg-card hover:shadow-xl transition-shadow duration-150 ease-in-out"
>
  <div class="h-10 w-10 rounded-full bg-primary flex items-center justify-center">
    <hlm-icon class="text-primary-foreground" size="base" [name]="board().icon.value" />
  </div>

  <div class="absolute top-2 right-2">
    <app-confirm-dialog
      (confirm)="remove()"
      [config]="{
        description: 'This action cannot be undone. This will permanently delete your board.',
        icon: 'lucideTrash',
        iconClass: 'text-destructive',
        variant: 'ghost',
        size: 'icon'
      }"
    >
    </app-confirm-dialog>
  </div>

  <div>
    <h2 hlmH3 class="mt-5 line-clamp-2">{{ board().title }}</h2>
    <p hlmMuted class="mt-0.5 line-clamp-2">{{ board().description }}</p>
  </div>

  <div hlmSeparator class="my-4 w-20"></div>

  <div class="flex items-center gap-1">
    <p hlmP>Edited:</p>
    <small hlmMuted>{{ board().lastActivity | timeAgo }}</small>
  </div>
</a>
